/*Estilo Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.Interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-jogar button {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 173, 241);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: white;
    font-size: 34px;
    text-align: center;
}

h2.titulo span {
    color: aqua;

}

h2.Informações {
    color: white;
    font-size: 34px;
    text-align: center;
}

h2.Informações span {
    color: aqua;

}

/* Estilo do Cabeçalho*/
header {
    padding: 40px 4%;

}

header>.Interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: white;
    transform: scale(1.2);

}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 173, 241);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

header .btn-contato button:hover {
    box-shadow: 0px 0px 8px rgb(0, 173, 241);
}

.btn-jogar button:hover {
    box-shadow: 0px 0px 8px rgb(0, 173, 241);
    transform: scale(1.2);
}

/*  Historia */
.Historia p {
    width: 40px;
    color: white;
    margin: 30px;
    width: 85%;
    padding: 20px;
}


/* Objetivo*/
.objetivo p {
    width: 40px;
    color: white;
    margin: 30px;
    width: 85%;
    padding: 20px;
}


/* Botão abrir menu */
.btn-abrir-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Menu mobile */
.menu-mobile {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #333;
    padding: 20px;
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

.menu-mobile.open {
    display: block; /* Exibe o menu quando a classe "open" é adicionada */
    transform: translateX(0);
}

.menu-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-mobile ul li a {
    color: white;
    font-size: 18px;
}

.menu-mobile ul li a:hover {
    color: aqua;
}

/* Sobreposição */
.overlay-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay-menu.active {
    display: block; /* Exibe a sobreposição quando a classe "active" é adicionada */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .menu-desktop,.btn-contato, .btn-jogar {
        display: none;
    }

    .btn-abrir-menu {
        display: block;
    }
}